# compiled outputs
backend/MS-Authentication/node_modules
backend/MS-Course-Management/node_modules
backend/MS-Learner/node_modules
backend/MS-Notification/node_modules
backend/MS-Payment/node_modules
backend/Server/node_modules
backend/API-Gateway/node_modules
frontend/node_modules

# Environment file
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
